<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books & Authors</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'books_authors_app/css/style.css' %}">    
  <script src="{% static 'books_authors_app/js/script.js' %}"></script>
</head>
<body>
  <div class="container">

    <div class="jumbotron px-5">
      <h1>Books and Authors</h1>
    </div>

    <div class="row">
      <div class="left-pane col-6">
        <h3>Add an Author</h3>
        <form action="/add-author/" method="POST" id="add-book">
          {% csrf_token %}
          <label for="title">First Name</label>
          <input type="text" class="form-control" name="fname">
          <label for="title">Last Name</label>
          <input type="text" class="form-control" name="lname">
          <label for="desc">Notes</label>
          <textarea rows="2" class="form-control" name="note"></textarea>
          <input type="submit" value="Add" class="btn btn-primary mt-3">
        </form>
      </div> <!-- END OF LEFT-PANE-->

      <div class="right-pane col-6">
        <h3>Library</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for author in all_authors %}
              <tr>
                <th scope="row">{{author.id}}</th>
                <td>{{author.first_name}} {{author.last_name}}</td>
                <td><a class="btn btn-secondary btn-sm" href="/authors/{{author.id}}" role="button">View</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div> <!-- END OF RIGHT-PANE-->
    </div> <!-- END OF ROW-->
  </div> <!-- END OF CONTAINER-->
</body>
</html>